.Logo {
  text-align: center;
  margin-top: 20px;
}

a {
  list-style: none;
  text-decoration: none;
  color: #000;
}

a:hover {
  list-style: none;
  text-decoration: none;
}

.Card {
  height: 125px;
  width: 100%;
  display: flex;
  align-items: center;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 2px #ccc;
  margin: 10px auto;
}

.Card h1 {
  font-size: 20px;
  font-weight: bold;
}

@media (min-width: 1300px) {
  .Container {
    max-width: 1250px;
  }
}

@media (min-width: 993px) {
  .Midnews {
    border-right: 1px solid #ccc;
  }
}

@media (min-width: 767px) {
  .Headliner {
    border-right: 1px solid #ccc;
  }
}
