.Logo {
  text-align: center;
  margin-top: 20px;
}

a {
  list-style: none;
  text-decoration: none;
  color: #000;
}

a:hover {
  list-style: none;
  text-decoration: none;
}

@media (min-width: 1300px) {
  .Container {
    max-width: 1250px;
  }
}

@media (min-width: 993px) {
  .Midnews {
    border-right: 1px solid #ccc;
  }
}

@media (min-width: 767px) {
  .Headliner {
    border-right: 1px solid #ccc;
  }
}
