.Logo {
  text-align: center;
  margin-top: 20px;
}

a {
  list-style: none;
  text-decoration: none;
  color: #000;
}

a:hover {
  list-style: none;
  text-decoration: none;
}

.Video {
  align-items: center;
  height: 150px;
  cursor: pointer;
}

.Video:hover {
  background: #ddd;
}

.Video h3 {
  font-size: 16px;
}
@media (min-width: 1300px) {
  .Container {
    max-width: 1250px;
  }
}

@media (min-width: 993px) {
  .SideNews {
    border-right: 1px solid #ccc;
  }
}

@media (min-width: 767px) {
  .SectionOne {
    border-right: 1px solid #ccc;
  }
}
