.Auth {
  margin-left: auto;
}

.Auth i {
  margin-right: 5px;
}

.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  height: 60px;
  background: #111;
  align-items: center;
  padding: 12px 20px;
  font-size: 0.9em;
  z-index: 999;
}

.Navbar a {
  color: #ccc;
  font-weight: 600;
  margin: 0 20px;
  letter-spacing: 0.5px;
}

.Navbar a:hover {
  color: #fff;
  list-style: none;
  text-decoration: none;
}

button.NavButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #222;
  padding: 5px 15px;
  border-radius: 3px;
  border: 1px solid #444;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: 500;
  height: 100%;
}

button.NavButton:focus,
.NavButton:active {
  outline: none;
  box-shadow: none;
}

.NavButton:hover {
  background: #000;
  border: 1px solid #fff;
}

.DesktopOnly {
  display: none;
}

@media (min-width: 690px) {
  .DesktopOnly {
    display: block;
  }
}
